body {
    width: 600px; 
    margin: 0 auto; 
}

header  {
    text-align: center;
}

div[role="main"] { 

}

div#form {
    border: 1px solid rgb(200,200,200);
    padding: 10px;
}
form input[type="checkbox"] {
    float: left;
    margin-right: 10px;
}

form div.radios {
    margin-top: 10px;
}


form #submit_btn {
    margin: 20px 0 20px 0;
    font-weight: bold;
    font-size: large;
}

span.message {
    margin-top: 10px;
}

span.message p {
   background: rgb(252, 251, 176);
}
